@import 'tailwindcss';
@layer theme, base, components, utilities;

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@layer components {
}

@utility drawer-sm {
  --size: 20rem;
}
@utility drawer-md {
  --size: 30rem;
}
@utility drawer-lg {
  --size: 40rem;
}
@utility drawer-full {
  --size: 100vw;
}
