@import 'tailwindcss';
@layer theme, base, components, utilities;

@theme {
  --color-midnight: #121063;
  --color-tahiti: #3ab7bf;
  --color-bermuda: #78dcca;
}

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@layer components {
  .layout {
    display: grid;
    grid-template-columns: [first] 25% [second] 75%;
  }

  .layout__sidebar {
    padding: 20px;
  }

  .layout__main {
    padding: 20px;
  }

  .grid-container {
    display: grid;
    width: 100%;
    padding: 20px;
  }

  .grid-header {
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 2fr 1fr 2fr 2fr;
    align-items: center;
  }

  .grid-row {
    display: grid;
    width: 100%;
    grid-template-columns: 3fr 2fr 1fr 2fr 2fr;
    gap: 10px 0;
  }

  .sidebarBtnContainer {
    display: flex;
    flex-direction: column;
  }

  .sidebarBtn {
    width: 80%;
    padding: 5px;
    margin: 5px;
    border: rgb(125, 125, 125) solid 2px;
    border-radius: 5px;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .sidebarBtn:hover {
    background-color: #addde6;
    transition: 0.2s ease-in;
    border: #72c5d4 solid 2px;
  }
}

@utility drawer-sm {
  --size: 20rem;
}
@utility drawer-md {
  --size: 30rem;
}
@utility drawer-lg {
  --size: 40rem;
}
@utility drawer-full {
  --size: 100vw;
}
