@import 'tailwindcss';
@layer theme, base, components, utilities;

@theme {
  --color-dark-aqua: #3ab7bf;
  --color-bright-aqua: #78dcca;
  --color-navy-blue: #062e6f;
  --color-dark-blue: #12066f;
  --color-dark-green: #06636f;
}

@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/preflight.css' layer(base);
@import 'tailwindcss/utilities.css' layer(utilities);

@layer components {
  body {
    font-size: 0.75rem;
    color: var(--color-dark-aqua);
  }

  .color-primary {
    color: var(--color-dark-aqua);
  }

  .layout {
    display: grid;
    grid-template-columns: [first] 20% [second] 80%;
  }

  .layout__sidebar {
    padding: 20px;
  }

  .layout__main {
    padding: 20px;
  }

  .grid-container {
    display: grid;
    width: 100%;
    padding: 20px;
  }

  .grid-header {
    display: grid;
    width: auto;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    align-items: center;
  }

  .grid-row {
    display: grid;
    width: auto;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
    gap: 10px 0;
  }

  .btn-wrapper:hover {
    transition: 0.2s ease-in;
    border-left: #72c5d4 solid 5px;
  }

  .sidebarBtn {
    width: 100%;
    padding: 0 10px;
    border: rgb(125, 125, 125) solid 1px;
    justify-content: flex-start;
    align-items: center;
  }

  .sidebarBtn:hover {
    transition: 0.2s ease-in;
    border-left: #72c5d4 solid 5px;
  }

  .dropdownBtn {
    display: flex;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #72c5d4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }

  .dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .show {
    display: block;
  }

  .svg-icon {
    fill: var(--color-dark-aqua);
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }

  .fileInfoText {
    font-size: 1rem;
  }
}

@utility drawer-sm {
  --size: 20rem;
}
@utility drawer-md {
  --size: 30rem;
}
@utility drawer-lg {
  --size: 40rem;
}
@utility drawer-full {
  --size: 100vw;
}
