<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body class="p-5">
    <wa-breadcrumb class="p-5">
      <wa-breadcrumb-item>Catalog</wa-breadcrumb-item>
      <wa-breadcrumb-item>Clothing</wa-breadcrumb-item>
      <wa-breadcrumb-item>Women's</wa-breadcrumb-item>
      <wa-breadcrumb-item>Shirts &amp; Tops</wa-breadcrumb-item>
    </wa-breadcrumb>
    <nav aria-label="Breadcrumb" class="breadcrumb">
      <ol>
        <li><a href="#">Home</a></li>
        <li><a href="#">Category</a></li>
        <li><a href="#">Sub Category</a></li>
        <li><a href="#">Type</a></li>
        <li><span aria-current="page">Product</span></li>
      </ol>
    </nav>
  </body>
  <script
    type="module"
    src="https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/components/breadcrumb/breadcrumb.js"
  ></script>
</html>
