<body>
  <div class="flex justify-between items-center h-[100px]">
    <h2><a href="/">File Uploader</a></h2>
    <div>
      <% if (!currentUser) {%>
      <a href="/login">Log In</a>
      <a href="/sign-up">Sign Up</a>
      <% } else { %>
      <a href="/logout"> Log Out</a>
      <% } %>
    </div>
  </div>
</body>
