<body>
  <ul>
    <% if (currentUser) { %>
    <li><button id="newFileModalOpenBtn">New File</button></li>
    <li><button id="newFolderModalOpenBtn">New Folder</button></li>
    <% } %>
  </ul>
  <script type="module" src="../../folders/createNewFolder.js"></script>
  <script type="module" src="../../files/createNewFile.js"></script>
</body>
