<body>
  <ul>
    <% if (currentUser) { %>
    <div class="flex flex-col gap-2 w-full">
      <li>
        <button id="newFileModalOpenBtn" class="sidebarBtn">New File</button>
      </li>
      <li>
        <button id="newFolderModalOpenBtn" class="sidebarBtn">New Folder</button>
      </li>
    </div>
    <% } %>
  </ul>
  <script type="module" src="../../folders/createNewFolder.js"></script>
  <script type="module" src="../../files/createNewFile.js"></script>
  <script
    type="module"
    src="https://early.webawesome.com/webawesome@3.0.0-beta.4/dist/webawesome.loader.js"
  ></script>
</body>
