<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sidebar</title>
  </head>
  <body>
    <ul>
      <% if (currentUser) { %>
      <li><button>New File</button></li>
      <li><button id="newFolderModalOpenBtn">New Folder</button></li>
      <% } %>
    </ul>
    <dialog name="newFolderModal">
      <form action="/folders" method="POST">
        <button id="newFolderModalCloseBtn">x</button>
        <input type="hidden" label="newFolder" />
        <button type="submit">New Folder</button>
      </form>
    </dialog>
    <script type="module" src="/scripts/createNewFolder.js"></script>
  </body>
</html>
