<div>
  <div class="table-header">
    <a href="#">Name</a>
    <a href="#">Date Modified</a>
    <a href="#">Type</a>
    <a href="#">File Size</a>
  </div>

  <div>
    <h2>child folders list</h2>
    <% if (folderData.files.length === 0) {%>
    <div>No files or folders to display.</div>
    <%} %>
    <ul>
      <% if (folderData) { %> <% folderData.files.forEach(childFolder => { %> <% if
      (childFolder.type == "FOLDER") { %>
      <a href="/folders/<%= childFolder.id %>"> <%= childFolder.name %> </a>
      <% } else if (childFolder.type == "FILE") { %>
      <button type="reset"><%= childFolder.name %></button>
      <% } %> <% }); %> <% } %>
    </ul>
  </div>
</div>
