<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
  </head>
  <body>
    <ul>
      <% folders.forEach((folder) => { %>
      <a href="/folders/<%= folder.id %>"><%= folder.name %></a>
      <div class="container">
        <div class="btn-wrapper">
          <div>
            <button>
              <svg
                width="15px"
                height="15px"
                viewBox="0 0 16 16"
                xmlns="http://www.w3.org/2000/svg"
                fill="#000000"
                class="bi bi-three-dots-vertical"
              >
                <path
                  d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z"
                />
              </svg>
            </button>
          </div>
          <div class="dropdown">
            <ul>
              <li>
                <a href="#" class="editFolderModalOpenBtn"><span>Edit</span></a>
              </li>
              <li>
                <a
                  href="#"
                  class="deleteFolderModalOpenBtn"
                  data-id="<%= folder.id %>"
                  data-name="<%= folder.name %>"
                  ><span>Delete</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <% }); %>
    </ul>
  </body>
  <script type="module" src="../../folders/deleteFolder.js"></script>
</html>
